 
 body{
   font-family: "Roboto", sans-serif;
 }



/* scrolling state */
.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff !important;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  padding: 10px;
}

.navbar.fixed-top .nav-link {
  color: #0d0d0d;
  font-size: 1.2rem;
}
.navbar.fixed-top .nav-link:hover{
  color: #cc0000;
}

.navbar.fixed-top .navbar-brand{
  font-size: 2.1rem;
  font-weight: bold;
  color: #cc0000;
}

.navbar.fixed-top .nav-link.active{
  color: #0d0d0d !important;
}

.navbar.fixed-top .nav-link.active:hover{
   color: #cc0000 !important;
}

.navbar.fixed-top .navbar-brand span{
  color: #0d0d0d;
}

.navbar.fixed-top .navbar-brand:hover{
  color: #cc0000;
}

.navbar.fixed-top .navbar-brand span:hover{
  color: #0d0d0d;
}

.navbar.fixed-top .download-but a{
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #cc0000;
  border: 1px solid #cc0000;;
}

.navbar.fixed-top .download-but a:hover{
  border: 1px solid #cc0000;
  background-color: #cc0000;
  color: #ffffff;
}




/* ----NAV STYLE -----*/
.navbar{
  padding: 15px;
}

.navbar-brand{
  font-size: 2.1rem;
  font-weight: bold;
  color: darkred;
}

.navbar-brand span{
  color: #fff;
}

.navbar-brand:hover{
  color: darkred;
}

.navbar-brand span:hover{
  color: #fff;
}

.nav-item{
  padding: 10px;
}

.nav-link{
  color: #fff;
  font-size: 1.2rem;
}

.nav-link:hover{
  color: darkred;
}

.nav-link.active{
  color: darkred !important;
  font-weight: bold;
}

.download-but a{
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}


/* ----HOME STYLE -----*/
#home{
  min-height: 90vh;
}

.pro-image{
  padding: 15px;
  margin-top: 70px;
}

.pro-text{
  padding: 30px;
  margin-top: 100px;
}

.i-write{
  font-weight: normal;
}

.name-write{
  width: 100%;
  font-size: 3.5rem;
  margin-top: 25px;
  font-weight: bold;
}

#container {
  text-align: left;
  margin-top: 30px;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.9rem;
  font-weight: lighter;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 30px;
  background-color: #fff;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { 
    background-color: transparent 
  }
  50% { 
    background-color: #fff; 
  }
}

 
/* ----ABOUT STYLE -----*/
#about{
  margin-top: 120px;
}

.about-text h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.img-anne{
  margin-top: 80px;
}

.text-abt{
  margin-top: 40px;
}

.mb-4{
  font-weight: bold;
  color: #0d0d0d;
}
.para{
  color: gray;
  line-height: 1.5;
  font-size: 1.1rem;
}

.py-2 h6{
  font-size: 1.1rem;
}
.py-2 h6 .text-secondary{
  color: gray;
  font-weight: normal;
}

.abt-4{
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 22px;
  padding-left: 22px;
  font-size: 1rem;
}


/* ----SKILL STYLE -----*/
#skill{
  margin-top: 120px;
}

.p-skill h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 70px;
}

.go-down{
  margin-top: 60px;
}
.all-prog{
  margin-bottom: 40px;
}
.all-prog.all-prog2{
  margin-bottom: 100px;
}

.progress{
  height: 20px;
}


/* ----SERVICE STYLE -----*/
.services{
  margin-top: 100px;
}
.services h1{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.go-service{
  margin-top: 60px;
}

.block-service{
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
}
.block-service p{
  color: gray;
  margin-top: 20px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.font-weight-bold{
  margin-left: 15px;
  color: #0d0d0d;
}

.serve-p{
  margin-top: 20px;
}

.gen-service{
  margin-top: 50px;
}


/* ----PORTFOLIO STYLE -----*/
#portfolio{
  margin-top: 100px;
}

.tab-info{
  margin-top: 50px;
}
.sub-tab{
  margin-bottom: 80px;
}

.tab-info02{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 20px;
  height: 360px;
  /*box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.10);*/
}
.tab-info02 h3{
  text-align: left;
  padding: 5px;
  font-weight: bold;
  margin-top: 15px;
}
.tab-info02 p{
  text-align: left;
  padding: 5px;
  color: gray;
  font-size: 1.1rem;
}
.tab-info02 a{
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  width: 45%;
  float: left;
  margin-top: 15px;
}
.tab-info02 a.preview{
  margin-left: 30px;
}
.tab-info02 a i{
  font-size: 1.2rem;
}

.i-class{
  margin-top: 10px;
}


/* ---- CONTACT STYLE -----*/
#contact{
  text-align: center;
  padding: 20px;
}
.contact h1{
  font-weight: bold;
  font-size: 3rem;
  margin-top: 80px;
}

.cont-writeup{
  margin-top: 50px;
}
.cont-writeup p{
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 80px;
}
.cont-writeup i{
  margin-top: 20px;
}
.cont-writeup i span{
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.cont-writeup a{
  margin-top: 40px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  font-size: 1.1rem;
}



/* ---- FOOTER STYLE -----*/
#footer{
  padding: 20px;
  margin-top: 80px;
}

.all-links{
  margin-top: 80px;
  margin-left: -35px;
}
.all-links ul li{
  padding: 7px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}
.btn-social {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border-radius: 100%;
}

.foot-write{
  margin-top: 20px;
  margin-bottom: 60px;
}
.foot-write a{
  font-weight: bold;
  text-decoration: none;
}



/* -----Scroll to top styling---- */
#myBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0d0d0d;
  color: white;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px; 
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 20px; 
}

#myBtn:hover {
  background-color: #0d0d0d;
}












/* ----small screen css styling---- */

@media(max-width: 1028px){

  /*nav style*/
  .nav-item{
    padding: 5px;
  }

  .download-but a{
    margin-bottom: 15px;
  }

   /* Home style*/
  .pro-text{
    margin-top: 10px;
  }
  .i-write{
    text-align: center;
  }
  .name-write{
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  #container {
    text-align: center;
    margin-top: 5px;
  }


  /*About style*/
  .about-text h1{
    font-size: 2rem;
  }


  /*Skill style*/
  .p-skill h1{
    font-size: 2rem;
  }
  .all-prog.all-prog2{
    margin-bottom: 40px;
  }


  /*Service style*/
  .services h1{
    font-size: 2rem;
  }
  .gen-service{
    margin-top: 35px;
  }
  .gen-service2{
    margin-bottom: 40px;
  }


  
  /* Portfolio style */
  .sub-tab{
    margin-bottom: 10px;
  }

  .tab-info02 h3{
    margin-top: 5px;
  }

  .tab-info02 p{
    padding: 5px;
  }

  .tab-info02 a{
    display: inline-block;
    border-radius: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 5px;
  }
  .tab-info02 a.preview{
    margin-left: 0px;
  }

  .i-class{
    margin-top: 0px;
  }



 /* contact style */
 .contact h1{
  font-size: 2.1rem;
 }

 .cont-writeup p{
  padding-left: 0px;
  padding-right: 0px;
 }



 /* footer style */


}